.Profile {
  display: flex;
  flex-direction: column;
  min-height: 80vh;

  .TopContainer {
    background-color: rgb(57, 46, 107);
    height: 20vh;
    height: 20vh;
    width: 100%;
  }
  .ProfileInfo {
    background-color: rgb(255, 255, 246);
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
