.AuthenticationPage_LR {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 80vh;
  background-color: rgb(57, 46, 107);
  form {
    display: flex;
    flex-direction: column;

    & > div {
      margin-bottom: 10px;
    }
  }

 

  button {
    width: 100%;
    background-color: RGB(245, 101, 202);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: RGB(245, 101, 202);
      opacity: 0.7;
    }
  }

  .Register {
    width: 30vw;
    margin-top: 25vh;
    background-color: rgb(57, 46, 107);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: rgb(57, 46, 107);
    }
    .Register__form__input{
      display: flex;
      flex-direction: column;
    
    
      input {
        display: flex;
        flex-direction: column;
    
        width: auto;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 5px;
        &:focus {
          outline-color: rgb(57, 46, 107);
        }
      }
    }
  }

  .Login {
    margin-top: 25vh;
    width: 30vw;
    background-color: rgb(57, 46, 107);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    .Login__form__input{
      display: flex;
      flex-direction: column;
    
    
      input {
        display: flex;
        flex-direction: column;
    
        width: auto;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 5px;
        &:focus {
          outline-color: rgb(57, 46, 107);
        }
      }
    }
  }
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .LContainer {
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    .Item1 {
      // background-color: rgb(130, 130, 66);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 5vw;
      text-align: center;
      margin-left: 7vw;
    }
    .Item2 {
      // background-color: pink;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 15vw;
      font-size: 1.5em;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      margin-right: 20vw;
    }
    .FaBars {
      display: none;
    }
    .Header__Mobile {
      display: none;
    }
  }
  .RContainer {
    // background-color: orange;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 2vw;

    .Item1 {
      // background-color: purple;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5vw;
      height: 5vh;
      text-align: center;

      &:hover {
        background-color: rgb(57, 46, 107);
        color: #fff;
        opacity: 0.9;
        cursor: pointer;
      }
    }
    .Item2 {
      // background-color: brown;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5vw;
      text-align: center;
    }
    .Item3 {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5vw;
      text-align: center;
    }
    .Item4 {
      background-color: white;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5vw;
      text-align: center;
      margin-right: 5vw;
      &:hover {
        background-color: rgb(57, 46, 107);
        color: #fff;
        opacity: 0.9;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .Header {
    display: flex;
    flex-direction: column;

    .LContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .FaBars {
        display: flex;
        justify-content: flex-end;
        margin-right: 5vw;
        color: var(--secondary-color);
        cursor: pointer;
      }

      .Item1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 2rem;
      }
      .Item2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem;
        width: 40vw;
      }
    }
    .Header__Mobile {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 0.5rem;
      margin-top: 5vw;
      margin-left: 72vw;
      margin-bottom: 5vw;
      cursor: pointer;
      animation: slide 0.5s ease-in-out;
      @keyframes slide {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0%);
        }
      }
      .Item1,
      .Item2,
      .Item3,
      .Item4 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1rem;
        &:hover {
          color: rgb(57, 46, 107);

          opacity: 0.9;
          cursor: pointer;
          text-decoration: underline rgb(57, 46, 107);
        }
      }
      button {
        background-color: var(--button-color);
        color: #fad1ff;
        height: 1.5rem;
        width: 5rem;
        font-size: 0.8rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: #994fa3;
        }
      }
    }

    .RContainer {
      display: none;
    }
  }
}
